:root {
  /* Magrin */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Color ==========*/
  --main-color: #f0d290;
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9f9;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* REUSABLE CSS CLASS */

.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 var(--m-1);
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--main-color);
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--m-0-5) var(--m-1);
  font-weight: var(--font-semi-bold);
}

.nav__menu {
  display: flex;
  position: fixed;
  background-color: var(--main-color);
  padding-top: var(--m-0-5);
  right: -100%;
  top: 0;
  bottom: 0;
  width: 70%;
  transition: 0.3s;
}

.menu__list {
  margin-top: 2rem;
  font-size: 18px;
}

.show__menu {
  right: 0;
}

.nav__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
}

.menu__item {
  padding: var(--m-0-5) 0;
  padding-left: var(--mb-1-25);
}

/* CONTENT */
.content {
  margin-top: 6rem;
  display: grid;
  row-gap: 1rem;
  margin-bottom: 6rem;
}
.video__item {
  display: grid;
  justify-content: center;
}

.video__item--title {
  font-size: 1rem;
  padding-bottom: var(--m-0-5);
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
}

.content p {
  padding: 0.5rem 0;
  line-height: 1.5;
  font-weight: 400;
}

.content a {
  font-weight: 500;
  border: 1px solid;
  padding: 0 0.5rem;
}

.free__course {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .nav__menu {
    width: 30%;
  }
  .content {
    justify-items: center;
  }
  .content__episode {
    justify-content: unset;
    width: 560px;
  }

  #video-embed {
    width: 560px;
    height: 315px;
  }
}
